<section class="card">
    <a href="/lesson/{{language}}/{{lessonID}}">
    <header>Lesson {{lessonID}}</header>

    <!-- h2 element with the question that corresponds with the lesson id (1-5) and based on the language (Spanish, Japanese, French) -->
    <!-- The following will pull from the corresponding lesson id (1-5) and based on the language (Spanish, Japanese, French)
    <ul>
        <li>Answer 1</li>
        <li>Answer 2</li>
        <li>Answer 3</li>
        <li>Answer 4</li>
    </ul>
    -->

    {{#each question}}
    <ul></ul>
    
    </a>
</section>