<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Language Learning</title>
</head>
    <body>
        <ul>
            <li>Linguify</li>
            {{#if logged_in}}
            <li>Welcome {{user.username}}</li>
            <li>Logout</li>
            {{else}}
            <li>Signup or Login</li>
            {{/if}}
        </ul>

        {{{ body }}}
    </body>
</html>
