<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <link
            href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css'
            rel='stylesheet'
            integrity='sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM'
            crossorigin='anonymous'
        />
        <link
            rel='stylesheet'
            type='text/css'
            href='../../public/css/main.css'
        />
        <title>Language Learning</title>
    </head>
    <body>
        <ul>
            <nav 
            class='navbar bg-body-tertiary'
            >
                <div class='container-fluid'>
                    <a class='navbar-brand' href='#'>
                        <img
                            src='../../public/assets/images/logo.jpeg'
                            alt='Logo'
                            width='30'
                            height='24'
                            class='d-inline-block align-text-top'
                        />
                        Linguify
                    </a>
                </div>
                {{#if logged_in}}
                    <li>
                    Welcome
                    {{user.username}}
                </li>
                <li>
                    <button
                        type="button"
                        class="btn btn-danger"
                        class="log-button"
                    >
                        Logout
                    </button>
                </li>
                {{else}}
                <li>
                    <button
                        type="button"
                        class="btn btn-danger"
                        class="log-button"
                    >
                        Signup or Login
                    </button>
                </li>
                {{/if}}
            </nav>
        </ul>
         {{{body}}} {{#if logged_in}}
        <main>
            <section class="py-5 text-center container">
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <h1 class="fw-light">
                            What language would you like to learn?
                        </h1>
                    </div>
                </div>
            </section>

            <div class="album py-5 bg-body-tertiary">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        <div class="col">
                            <div class="card shadow-sm">
                                <a href="french">
            
                                    <img
                                        src="../../public/assets/images/france-flag.jpg"    
                                        class="bd-placeholder-img card-img-top"
                                        alt="french flag image"
                                        width="100%"
                                        height="225"> 
                                    </img>
                                </a>
                                <div class="card-body">
                                    <p class="card-text">
                                        <a href="french">French</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow-sm">
                                <a href="japanese">
                                    <img
                                    src="../../public/assets/images/japan-flag.jpg"
                                    class="bd-placeholder-img card-img-top"
                                    alt="japan flag image"
                                    width="100%"
                                    height="225"
                                    xmlns="http://www.w3.org/2000/svg">
                                    </img>
                                </a>
                                <div class="card-body">
                                    <p class="card-text">
                                        <a href="japanese">JAPANESE</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow-sm">
                                <img
                                    src="../../public/assets/images/mexico-flag.jpg"
                                    class="bd-placeholder-img card-img-top"
                                    width="100%"
                                    height="225"
                                    alt="mexican flag image">
                                </img>
                                <div class="card-body">
                                    <p class="card-text">
                                        <a href="spanish">SPANISH</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
       
        {{/if}} {{#if logged_in}}
        <script src="/js/logout.js"></script>
        {{/if}}
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"
        ></script>
    </body>
</html>