{{#if logged_in}}
    <h3>Which language do you wish to learn?</h3>
    <ul>
        <li><a href='french'>French</a></li>
        <li><a href='japanese'>Japanese</a></li>
        <li><a href='spanish'>Spanish</a></li>
    </ul>
{{/if}}

{{#if logged_in}}
    <script src='/js/logout.js'></script>
{{/if}}